* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: Roboto;
}

canvas {
  display: block;
}

.brush-picker {
  right: 16px;
  bottom: 16px;
  background: #44269F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brush-picker svg {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: #fff;
}


.btn {
  height: 40px;
  width: 40px;
  position: fixed;
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
  border-radius: 50%;
  cursor: pointer;
}

.btn:active {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.brush-pane {
  background: #E0E0E0;
  height: 25%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  will-change: transform;
  transform: translateY(100%);
  transition: transform 200ms;
}

.brush-pane.active {
  transform: translateY(0);
}

.brush-selection {
  font-size: 40px;
  background: #F5F5F5;
  text-align: center;
  border-radius: 4px;
  display: flex;
}

emoji-print {
  display: inline-block;
}

.brushes {
  display: flex;
  justify-content: space-around;
}

.brush-size {
  width: 100%;
}

brush-picker {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgb(132, 132, 132);
}

brush-picker div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  overflow: auto;
  font-size: 50px;
}

.menu-open .menu-bar {
  transform: translateX(0);
}
.menu-bar {
  background: #FF4081;
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.52);
  will-change: transform;
  transform: translateX(200px);
  transition: all 150ms cubic-bezier(0.39, 0.58, 0.72, 1);
}

.menu-bar ul {
  list-style: none;
  font-size: 30px;
  color: #fff;
}

.menu-bar li {
  cursor: pointer;
  margin: 16px;
}
